<a href="https://colab.research.google.com/github/JulienJ-44/rakuteam/blob/main/10_Rakuten_Merge_data_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/driver/')

Mounted at /content/driver/

In [ ]:
import pandas as pd 

#CHARGEMENT des fichiers
X = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/1-Dataset_initial/X_train_update.csv", index_col=0) 
y = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/1-Dataset_initial/Y_train_CVw08PX.csv", index_col=0)

feats_damien = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/features_D.csv")
feats_aylin = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/df_features_images.csv")
feats_julien = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/Export_Dataset_JJ.csv")

#X_train_update.info()


#stockage de tous les codes de classe dans une liste
classes_codes = (y['prdtypecode'].value_counts().index.tolist())

In [ ]:
X.head()

                                         designation  ...     imageid
0  Olivia: Personalisiertes Notizbuch / 150 Seite...  ...  1263597046
1  Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...  ...  1008141237
2  Grand Stylet Ergonomique Bleu Gamepad Nintendo...  ...   938777978
3  Peluche Donald - Europe - Disneyland 2000 (Mar...  ...   457047496
4                               La Guerre Des Tuques  ...  1077757786

[5 rows x 4 columns]

In [ ]:
feats_julien.head()

   Unnamed: 0  ...  descri_char_count (w/o space)
0           0  ...                              3
1           1  ...                              3
2           2  ...                            652
3           3  ...                              3
4           4  ...                            180

[5 rows x 33 columns]

In [ ]:
feats_julien.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84916 entries, 0 to 84915
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     84916 non-null  int64
 1   Unnamed: 0.1                   84916 non-null  int64
 2   designation                    84916 non-null  object
 3   description                    55116 non-null  object
 4   productid                      84916 non-null  int64
 5   imageid                        84916 non-null  int64
 6   prdtypecode                    84916 non-null  int64
 7   desi_word_count                84916 non-null  int64
 8   desi_char_count                84916 non-null  int64
 9   desi_word_density              84916 non-null  float64
 10  desi_total_length              84916 non-null  int64
 11  desi_capitals                  84916 non-null  int64
 12  desi_num_exclamation_marks     84916 non-null  int64
 13  desi_num_question_marks        84916 non-null  int64
 14  desi_num_punctuation           84916 non-null  int64
 15  desi_num_symbols               84916 non-null  int64
 16  desi_num_unique_words          84916 non-null  int64
 17  desi_words_vs_unique           84916 non-null  float64
 18  desi_word_unique_percent       84916 non-null  float64
 19  descri_word_count              84916 non-null  int64
 20  descri_char_count              84916 non-null  int64
 21  descri_word_density            84916 non-null  float64
 22  descri_total_length            84916 non-null  int64
 23  descri_capitals                84916 non-null  int64
 24  descri_num_exclamation_marks   84916 non-null  int64
 25  descri_num_question_marks      84916 non-null  int64
 26  descri_num_punctuation         84916 non-null  int64
 27  descri_num_symbols             84916 non-null  int64
 28  descri_num_unique_words        84916 non-null  int64
 29  descri_words_vs_unique         84916 non-null  float64
 30  descri_word_unique_percent     84916 non-null  float64
 31  desi_char_count (w/o space)    84916 non-null  int64
 32  descri_char_count (w/o space)  84916 non-null  int64
dtypes: float64(6), int64(25), object(2)
memory usage: 21.4+ MB

In [ ]:
feats_damien.head()

   Unnamed: 0  ... desc_pourcent
0           0  ...             0
1           1  ...             0
2           2  ...             0
3           3  ...             0
4           4  ...             0

[5 rows x 47 columns]

In [ ]:
feats_aylin.head()

   prdtypecode   productid     blanc  ...           R           G           B
0         2583  3936362802  0.459121  ...  191.914832  205.177432  211.476028
1         2583  3147314797  0.824865  ...  230.272176  231.747476  229.365300
2         2583   207151480  0.905972  ...  244.311256  244.458700  243.333984
3         2583  4128438373  0.624599  ...  186.745312  187.626912  187.789808
4         2583  1857269337  0.777468  ...  216.314272  216.855752  215.883308

[5 rows x 7 columns]

In [ ]:
feats_aylin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84916 entries, 0 to 84915
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prdtypecode  84916 non-null  int64
 1   productid    84916 non-null  int64
 2   blanc        84916 non-null  float64
 3   noir         84916 non-null  float64
 4   R            84916 non-null  float64
 5   G            84916 non-null  float64
 6   B            84916 non-null  float64
dtypes: float64(5), int64(2)
memory usage: 4.5 MB

In [ ]:
feats_damien.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84916 entries, 0 to 84915
Data columns (total 47 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         84916 non-null  int64
 1   designation        84916 non-null  object
 2   description        55116 non-null  object
 3   productid          84916 non-null  int64
 4   prdtypecode        84916 non-null  int64
 5   desc_length        84916 non-null  int64
 6   desi_length        84916 non-null  int64
 7   desi_nb_phrases    84916 non-null  int64
 8   desc_nb_phrases    84916 non-null  int64
 9   desi_nb_mots+      84916 non-null  int64
 10  desc_nb_mots+      84916 non-null  int64
 11  best_idf           84916 non-null  object
 12  class_10           84916 non-null  float64
 13  class_40           84916 non-null  float64
 14  class_50           84916 non-null  float64
 15  class_60           84916 non-null  float64
 16  class_1140         84916 non-null  float64
 17  class_1160         84916 non-null  float64
 18  class_1180         84916 non-null  float64
 19  class_1280         84916 non-null  float64
 20  class_1281         84916 non-null  float64
 21  class_1300         84916 non-null  float64
 22  class_1301         84916 non-null  float64
 23  class_1302         84916 non-null  float64
 24  class_1320         84916 non-null  float64
 25  class_1560         84916 non-null  float64
 26  class_1920         84916 non-null  float64
 27  class_1940         84916 non-null  float64
 28  class_2060         84916 non-null  float64
 29  class_2220         84916 non-null  float64
 30  class_2280         84916 non-null  float64
 31  class_2403         84916 non-null  float64
 32  class_2462         84916 non-null  float64
 33  class_2522         84916 non-null  float64
 34  class_2582         84916 non-null  float64
 35  class_2583         84916 non-null  float64
 36  class_2585         84916 non-null  float64
 37  class_2705         84916 non-null  float64
 38  class_2905         84916 non-null  float64
 39  desc_nb2chiffres+  84916 non-null  int64
 40  desc_num           84916 non-null  int64
 41  desc_poids         84916 non-null  int64
 42  desc_long          84916 non-null  int64
 43  desc_vol           84916 non-null  int64
 44  desc_ans_mois      84916 non-null  int64
 45  desc_pieces        84916 non-null  int64
 46  desc_pourcent      84916 non-null  int64
dtypes: float64(27), int64(17), object(3)
memory usage: 30.4+ MB

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84916 entries, 0 to 84915
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   designation  84916 non-null  object
 1   description  55116 non-null  object
 2   productid    84916 non-null  int64
 3   imageid      84916 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.2+ MB

In [ ]:
# Referencer une df product
df_prod = X.productid

# Compter les doublons
df_prod.duplicated().sum()

0

In [ ]:
# Merge feats_aylin
df_prod = df_prod.to_frame()
fusion_1 = df_prod.merge(right = feats_aylin, on='productid', how = 'left')

In [ ]:
fusion_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84916 entries, 0 to 84915
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   productid    84916 non-null  int64
 1   prdtypecode  84916 non-null  int64
 2   blanc        84916 non-null  float64
 3   noir         84916 non-null  float64
 4   R            84916 non-null  float64
 5   G            84916 non-null  float64
 6   B            84916 non-null  float64
dtypes: float64(5), int64(2)
memory usage: 5.2 MB

In [ ]:
# Merge feats_damien
fusion_2 = fusion_1.merge(right = feats_damien, on='productid', how = 'left')

In [ ]:
fusion_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84916 entries, 0 to 84915
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   productid          84916 non-null  int64
 1   prdtypecode_x      84916 non-null  int64
 2   blanc              84916 non-null  float64
 3   noir               84916 non-null  float64
 4   R                  84916 non-null  float64
 5   G                  84916 non-null  float64
 6   B                  84916 non-null  float64
 7   Unnamed: 0         84916 non-null  int64
 8   designation        84916 non-null  object
 9   description        55116 non-null  object
 10  prdtypecode_y      84916 non-null  int64
 11  desc_length        84916 non-null  int64
 12  desi_length        84916 non-null  int64
 13  desi_nb_phrases    84916 non-null  int64
 14  desc_nb_phrases    84916 non-null  int64
 15  desi_nb_mots+      84916 non-null  int64
 16  desc_nb_mots+      84916 non-null  int64
 17  best_idf           84916 non-null  object
 18  class_10           84916 non-null  float64
 19  class_40           84916 non-null  float64
 20  class_50           84916 non-null  float64
 21  class_60           84916 non-null  float64
 22  class_1140         84916 non-null  float64
 23  class_1160         84916 non-null  float64
 24  class_1180         84916 non-null  float64
 25  class_1280         84916 non-null  float64
 26  class_1281         84916 non-null  float64
 27  class_1300         84916 non-null  float64
 28  class_1301         84916 non-null  float64
 29  class_1302         84916 non-null  float64
 30  class_1320         84916 non-null  float64
 31  class_1560         84916 non-null  float64
 32  class_1920         84916 non-null  float64
 33  class_1940         84916 non-null  float64
 34  class_2060         84916 non-null  float64
 35  class_2220         84916 non-null  float64
 36  class_2280         84916 non-null  float64
 37  class_2403         84916 non-null  float64
 38  class_2462         84916 non-null  float64
 39  class_2522         84916 non-null  float64
 40  class_2582         84916 non-null  float64
 41  class_2583         84916 non-null  float64
 42  class_2585         84916 non-null  float64
 43  class_2705         84916 non-null  float64
 44  class_2905         84916 non-null  float64
 45  desc_nb2chiffres+  84916 non-null  int64
 46  desc_num           84916 non-null  int64
 47  desc_poids         84916 non-null  int64
 48  desc_long          84916 non-null  int64
 49  desc_vol           84916 non-null  int64
 50  desc_ans_mois      84916 non-null  int64
 51  desc_pieces        84916 non-null  int64
 52  desc_pourcent      84916 non-null  int64
dtypes: float64(32), int64(18), object(3)
memory usage: 35.0+ MB

In [ ]:
# Merge feats_julien

#cols_to_use = feats_julien.columns.difference(fusion_2.columns)
#cols_to_use = cols_to_use.to_frame()

fusion_3 = fusion_2.merge(right = feats_julien, on='productid', how = 'left')

#fusion_3 = merge(fusion_2, feats_julien[cols_to_use], left_index=True, right_index=True, how='left')

In [ ]:
fusion_3.isnull().sum()

productid                        0
prdtypecode_x                    0
blanc                            0
noir                             0
R                                0
                                ..
descri_num_unique_words          0
descri_words_vs_unique           0
descri_word_unique_percent       0
desi_char_count (w/o space)      0
descri_char_count (w/o space)    0
Length: 85, dtype: int64

In [ ]:
# Supprimer les colonnes identiques entre df Damien et Julien
to_drop = ['prdtypecode_y','designation_y','description_y', 'description_y', 'Unnamed: 0_y', 'Unnamed: 0.1']
data_features = fusion_3.drop(to_drop, axis = 1)

In [ ]:
# Renommer les colonnes
names = {'prdtypecode_x': 'prdtypecode', 'Unnamed: 0_x' : 'Unnamed: 0', 'designation_x': 'designation', 'description_x': 'description'}
data_features.rename(columns = names, inplace = True)

In [ ]:
data_features.head()

    productid  ...  descri_char_count (w/o space)
0  3804725264  ...                              3
1   436067568  ...                              3
2   201115110  ...                            652
3    50418756  ...                              3
4   278535884  ...                            180

[5 rows x 80 columns]

In [ ]:
data_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84916 entries, 0 to 84915
Data columns (total 80 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   productid                      84916 non-null  int64
 1   prdtypecode                    84916 non-null  int64
 2   blanc                          84916 non-null  float64
 3   noir                           84916 non-null  float64
 4   R                              84916 non-null  float64
 5   G                              84916 non-null  float64
 6   B                              84916 non-null  float64
 7   Unnamed: 0                     84916 non-null  int64
 8   designation                    84916 non-null  object
 9   description                    55116 non-null  object
 10  desc_length                    84916 non-null  int64
 11  desi_length                    84916 non-null  int64
 12  desi_nb_phrases                84916 non-null  int64
 13  desc_nb_phrases                84916 non-null  int64
 14  desi_nb_mots+                  84916 non-null  int64
 15  desc_nb_mots+                  84916 non-null  int64
 16  best_idf                       84916 non-null  object
 17  class_10                       84916 non-null  float64
 18  class_40                       84916 non-null  float64
 19  class_50                       84916 non-null  float64
 20  class_60                       84916 non-null  float64
 21  class_1140                     84916 non-null  float64
 22  class_1160                     84916 non-null  float64
 23  class_1180                     84916 non-null  float64
 24  class_1280                     84916 non-null  float64
 25  class_1281                     84916 non-null  float64
 26  class_1300                     84916 non-null  float64
 27  class_1301                     84916 non-null  float64
 28  class_1302                     84916 non-null  float64
 29  class_1320                     84916 non-null  float64
 30  class_1560                     84916 non-null  float64
 31  class_1920                     84916 non-null  float64
 32  class_1940                     84916 non-null  float64
 33  class_2060                     84916 non-null  float64
 34  class_2220                     84916 non-null  float64
 35  class_2280                     84916 non-null  float64
 36  class_2403                     84916 non-null  float64
 37  class_2462                     84916 non-null  float64
 38  class_2522                     84916 non-null  float64
 39  class_2582                     84916 non-null  float64
 40  class_2583                     84916 non-null  float64
 41  class_2585                     84916 non-null  float64
 42  class_2705                     84916 non-null  float64
 43  class_2905                     84916 non-null  float64
 44  desc_nb2chiffres+              84916 non-null  int64
 45  desc_num                       84916 non-null  int64
 46  desc_poids                     84916 non-null  int64
 47  desc_long                      84916 non-null  int64
 48  desc_vol                       84916 non-null  int64
 49  desc_ans_mois                  84916 non-null  int64
 50  desc_pieces                    84916 non-null  int64
 51  desc_pourcent                  84916 non-null  int64
 52  imageid                        84916 non-null  int64
 53  prdtypecode                    84916 non-null  int64
 54  desi_word_count                84916 non-null  int64
 55  desi_char_count                84916 non-null  int64
 56  desi_word_density              84916 non-null  float64
 57  desi_total_length              84916 non-null  int64
 58  desi_capitals                  84916 non-null  int64
 59  desi_num_exclamation_marks     84916 non-null  int64
 60  desi_num_question_marks        84916 non-null  int64
 61  desi_num_punctuation           84916 non-null  int64
 62  desi_num_symbols               84916 non-null  int64
 63  desi_num_unique_words          84916 non-null  int64
 64  desi_words_vs_unique           84916 non-null  float64
 65  desi_word_unique_percent       84916 non-null  float64
 66  descri_word_count              84916 non-null  int64
 67  descri_char_count              84916 non-null  int64
 68  descri_word_density            84916 non-null  float64
 69  descri_total_length            84916 non-null  int64
 70  descri_capitals                84916 non-null  int64
 71  descri_num_exclamation_marks   84916 non-null  int64
 72  descri_num_question_marks      84916 non-null  int64
 73  descri_num_punctuation         84916 non-null  int64
 74  descri_num_symbols             84916 non-null  int64
 75  descri_num_unique_words        84916 non-null  int64
 76  descri_words_vs_unique         84916 non-null  float64
 77  descri_word_unique_percent     84916 non-null  float64
 78  desi_char_count (w/o space)    84916 non-null  int64
 79  descri_char_count (w/o space)  84916 non-null  int64
dtypes: float64(38), int64(39), object(3)
memory usage: 52.5+ MB

In [ ]:
data_features.to_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/data_features_final.csv")